<p>login works!</p>

<!-- 
            <div class="card m-auto d-block ">
                <div class="text-center">
                    <h1>Restaurant Login</h1>
                    <h5>Feel free to login !!</h5>
                    <form class='frm  text-center card m-auto d-block'>
                        <h2 class="text-center">Sign Up!</h2>
                              <label class='m-1' for="username">Username:</label>
                              <input class='m-1' type="text" id="username" required/>
                            <br/>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                              <label class='m-1' for="email">Email:</label>
                              <input class='m-1' type="email" id="email" required/>
                              <br>
                              &nbsp;&nbsp;
                              <label class='m-1' for="password">Password:</label>
                              <input class='m-1' type="password" id="password" required/>
                              <br>
                       
                        
                        <button class=' btn btn-success rounded' >Submit</button>
                        <button  class=' btn btn-warning  text-light rounded' type="button">Have an Account?</button>
                        </form>
            </div>
        </div>     
    -->


    <div class="container">
     <div class="row">
         <div class="col-md-6">
             <div class="card">
                 <div class="text-center">
                     <h1>Login Resto</h1>
                     <h5>feel free to login !!!</h5>
                     <hr/>
                    </div>
                     <form [formGroup]="loginForm" (ngSubmit)="logIn()" >
                        <div class="row mb-3">
                          <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
                          <div class="col-sm-10">
                            <input formControlName="email" placeholder="Enter Email" type="email" class="form-control" id="inputEmail3">
                          </div>
                        </div>
                        <div class="row mb-3">
                          <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
                          <div class="col-sm-10">
                            <input formControlName="password" placeholder="Enter password" type="password" class="form-control" id="inputPassword3">
                          </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Sign in</button><br><br>
                        <a routerLink="/signup">New User ? Click to Signup !</a>
                      </form>
                     
             </div>
         </div>
     </div>
    </div>